<!-- FOOTER -->


    <div class="row ">

        <div class="col-12 text-center py-3 footer-container footer">

            <div class="row flex-sm-row align-items-center">

                <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block img-contain text-start">
                    <img src="{{ asset('images/Logo.png') }}" alt="logo" class="img-fluid">
                    <p>Hébergement pour groupe <br>
                        de 6 à 50 personnes</p>
                </div>

                <div class="col-10 col-md-4 col-lg-6 text-center py-3  mx-auto icons-container">
                    <nav>
                        <ul class="m-0 p-0">
                            <li><a href="https://www.facebook.com/Le-hameau-des-Pierreux-106159591167244/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                            <li><a href="https://www.instagram.com/lehameaudespierreux/?hl=fr" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2690.0951859663246!2d3.9472232157906957!3d47.60483879609256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ee0e124cbe5bcb%3A0x2a61795fd4e8e369!2sG%C3%AEtes%20Le%20hameau%20des%20Pierreux%20de%20la%20grotte%20de%20Champ%20Retard%20H%C3%A9bergements%20de%20groupe%20%221%20nuit%20%C3%A0%20la%20Grotte%22!5e0!3m2!1sfr!2sfr!4v1656591237223!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                    <div class="separateur"></div>

                <div class="row">
                    <div class="d-flex flex-column link-footer-container my-3 d-flex flex-column align-items-center">
                        <a href="{{ path('main_privacy') }}">Politique de confidentialité</a>
                        <a href="{{ path('main_cgu') }}">C.G.U</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>